version: "3"

services:
  siri-gpt:
    image: siri-gpt
    environment:
      - API_KEY=xxxxxxx
      - OPENAI_API_KEY=xxxxxxxxx
      - PROXY_URL=http://x.x.x.x:xxxx
      - REDIS_HOST=x.x.x.x
      - REDIS_PORT=6379
      - MAX_TOKEN_LIMIT=4000
    ports:
      - 5000:5000
    depends_on:
      - redis

  redis:
    image: redis
    ports:
      - 6379:6379